<div class="ui basic segment">
    <h1 class="ui header">
      <i class="{{ header.icon }} icon"></i>
      <div class="content">
        {{ header.title }}
        <div class="sub header">{{ header.desc }}</div>
      </div>
    </h1>
</div>