<div class="ui stackable grid container">
    <div class="row">
        <div class="mobile only tablet only column">
            <div class="ui basic segment">
                <div class="ui fixed yellow inverted borderless menu">
                  <a href="#" class="sidebar item"><i class="sidebar large icon"></i></a>
                  <a href="/"><h1 class="ui medium header fluid item"><i class="rocket icon"></i> &nbsp;AskTravel</h1></a>
                  <div class="right menu">
                      <div class="ui dropdown item">
                        <i class="ellipsis vertical large icon"></i>
                        <div class="menu">
                            {{#if isLogin}}
                            <a href="/account" class="ui item"><i class="setting icon"></i>Kelola Akun</a>
                            <a href="/logout" class="ui item"><i class="unlock icon"></i>Logout</a>
                            {{else}}
                            <a href="/register" class="ui item"><i class="user add icon"></i>Daftar</a>
                            <a href="/login" class="ui item"><i class="unlock alternate icon"></i>Login</a>
                            {{/if}}
                        </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="computer only column">
            <div class="ui basic segment">
                <div class="ui fixed yellow inverted borderless menu">
                    <a href="#" class="sidebar item"><i class="sidebar large icon"></i></a>
                    <a href="/"><h1 class="ui medium header fluid item"><i class="rocket icon"></i> &nbsp;AskTravel</h1></a>
                    <div class="right menu">
                        <div class="ui dropdown item">
                            <i class="book icon"></i> Browse
                            <i class="dropdown icon"></i>
                            <div class="menu">
                            <a href="/browse/search" class="item"><i class="search icon"></i>Search</a>
                            <a href="/browse/category" class="item"><i class="browser icon"></i>Categories</a>
                            <a href="/browse/country" class="item"><i class="location arrow icon"></i>Countries</a>
                            </div>
                        </div>
                        <div class="ui dropdown item">
                            <i class="write icon"></i> Post
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <a href="/offer" class="item"><i class="legal icon"></i>Offer</a>
                                <a href="/request" class="item"><i class="magnet icon"></i>Request</a>
                            </div>
                        </div>
                        <div class="ui dropdown item">
                            {{#if user}}                     
                                <i class="user icon"></i> {{user.name}}
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                <a href="/settings" class="item"><i class="settings icon"></i>Settings</a>
                                <a href="/transactions" class="item"><i class="tags icon"></i>Transactions</a>
                                <a href="/messages" class="item"><i class="mail icon"></i>Messages</a>
                                <a href="/logout" class="item"><i class="unlock icon"></i>Log-out</a>
                                </div>
                            {{else}}
                                <i class="user icon"></i> Account
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <a href="/register" class="item"><i class="lock icon"></i>Register</a>
                                    <a href="/login" class="item"><i class="lock icon"></i>Login</a>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui sidebar inverted vertical menu">
    <div class="item">
        <div class="header"><i class="book icon"></i>Browse</div>
        <div class="ui secondary vertical pointing menu">
            <a href="/browse/search" class="item"><i class="search icon"></i>Search</a>
            <a href="/browse/category" class="item"><i class="browser icon"></i>Categories</a>
            <a href="/browse/country" class="item"><i class="location arrow icon"></i>Countries</a>
        </div>
    </div>
    <div class="item">
        <div class="header"><i class="write icon"></i>Post</div>
        <div class="ui secondary vertical pointing menu">
            <a href="/offer" class="item"><i class="legal icon"></i>Offer</a>
            <a href="/request" class="item"><i class="magnet icon"></i>Request</a>
        </div>
    </div>
    <div class="item">
        <div class="header"><i class="user icon"></i>Account</div>
        <div class="ui secondary vertical pointing menu">
            <a href="/settings" class="item"><i class="settings icon"></i>Settings</a>
            <a href="/transactions" class="item"><i class="tags icon"></i>Transactions</a>
            <a href="/messages" class="item"><i class="mail icon"></i>Messages</a>
            <a href="/logout" class="item"><i class="unlock icon"></i>Log-out</a>
        </div>
    </div>
    <div class="item">
        <div class="header"><i class="life ring icon"></i>Help</div>
        <div class="ui secondary vertical pointing menu">
            <a href="/help/about" class="ui item"><i class="child icon"></i>About</a>
            <a href="/help/contact" class="ui item"><i class="phone square icon"></i>Kontak</a>
            <a href="/help/support" class="ui item"><i class="treatment icon"></i>Support</a>
            <a href="/help/rules" class="ui item"><i class="edit icon"></i>Peraturan</a>
            <a href="/help/faq" class="ui item"><i class="help circle icon"></i>FAQ</a>
        </div>
    </div>
</div>